* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    align-items: center;
    text-align: center;
    list-style-type: none;
    background-color: rgb(195, 250, 197);

}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.bgred {
    background-color: red;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.pad {
    padding: 30px;
}


.fontDiv {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    padding: 30px;
}

h1 {
    font-size: 70px;
    color: rgb(236, 103, 236);
    padding: 20px;

}

h2 {
    font-size: 50px;
    color: rgb(236, 103, 236);
}

h3 {
    font-size: 80px;
    border-radius: 100px;
    background-color: red;

}

p {
    font-size: 40px;

}

.w70 {
    width: 70%;
}

.w50 {
    width: 50%;
}

#div{
    height: 150px;
    background-color: blue;
}